.todoSearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}

.todoSearchInput {
  padding: 8px;
  width: 90%;
  font-size: 2rem;
}

input[type='text'] {
  margin: 8px 0;
  border: 3px solid transparent;
  border-radius: 6px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  padding: 12px;
}

input[type='text']:focus {
  border: 3px solid var(--primary-color);
}

.iconClear {
  font-size: 24px;
  cursor: pointer;
  position: relative;
  right: 36px;
  color: var(--primary-color);
}

.iconClear:active {
  transform: translateY(-1px);
}
