.TodoCounterTitle {
  font-size: 4rem;
  text-align: center;
  padding: 48px 30px;
  margin-top: 40px;
}

.TodoCounterTitle span {
  font-weight: bold;
}

@media (max-width: 450px) {
  .TodoCounterTitle {
    font-size: 3rem;
  }
}
