.modalBackground {
  background-color: var(--bkg-color-transparent);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 300px;
  height: 200px;
  background-color: var(--primary-color);
  border-radius: 6px;
}
