* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-family: "Noto Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #f5efe7;
  --bkg-color: #4f709c;
  --bkg-color-transparent: #4f709c77;
  --primary-color: #213555;
  --secondary-color: #d8c4b6;
}

body {
  min-width: 360px;
  margin: 0 auto 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bkg-color);
  color: var(--text-color);
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

#root {
  width: 95%;
}
